<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulario</title>
  <link rel="stylesheet" href="../statics/styles/formulario.css" />

</head>

<body>
  <!-- FORMULARIO -->
  <form class="formulario">
    <label>Nombre</label>
    <input id="nombre" type="text" />
    <label>Apellido</label>
    <input class="apellido" type="text" />
    <label>Teléfono</label>
    <input class="telefono" type="number" />
    <label>Barrio</label>
    <input class="barrio" type="text" />
    <label>Fecha</label>
    <input class="fecha" type="date" />
    <label>Vendedor</label>
    <input class="vendedor" type="vendedor" />
    <label>E-mail</label>
    <input class="email" type="email" />
    <button onclick="generarPresupuesto()" class="button" type="submit">Proceder</button>
  </form>


  <script src="../statics/scripts/formulario.js"></script>
</body>

</html>