<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulario</title>
  <link rel="stylesheet" href="../statics/styles/formulario.css" />

</head>

<body>
  <!-- FORMULARIO -->
  <form id="formulario">
    <label>Nombre y Apellido:</label>
    <input id="nombre" type="text">
    <!-- <label>Apellido</label>
    <input id="apellido" type="text"> -->
    <label>Teléfono</label>
    <input id="telefono" type="number">
    <label>Barrio</label>
    <input id="barrio" type="text" >
    <label>Fecha</label>
    <input id="fecha" type="date">
    <label>Vendedor</label>
    <input id="vendedor" type="text">
    <label>E-mail</label>
    <input id="email" type="email">
    <button class="button" type="submit">Proceder</button>
  </form>


  <script src="../statics/scripts/formulario.js"></script>
</body>

</html>